dwave-neal==0.6.0
dwave-system==1.34.0
torch==2.10.0

pandas~=3.0.0
graphviz~=0.21
networkx~=3.6.1
sqlalchemy~=2.0.47
scikit-learn~=1.8.0
dimod~=0.12.21
psycopg2-binary==2.9.11
numpy==2.4.2
pgmpy==1.0.0
